@charset "UTF-8";

img, object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width:100%;
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: none;
	float: none;
}
#div1 {
  width: 100%;
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

#left { 
display: block; 
width: 100%; 
float: left; 
overflow: hidden; 
}

#userStats .data {
  width: 100%;
}

#userStats .data ul.points li strong { 
color: #434343; 
display: block; 
font-size: 5em; 
line-height: 1.1em; 
font-weight: bold; 
}

#userStats .imager { 
width: 100%;
max-width: 200px;
margin: 0 auto 20px auto;
}

#userStats .imager img { 
width: 100%;
margin: 0 auto;
}

#userStats .data h1 { 
float: left;
width: 90%;
color: #474747;
line-height: 40px;
margin-bottom: 10px;
display: block;
}

#left .gcontent .boxy .badgeCount a img { margin: 0 3.5% 3.5% 0; width: 29%; z-index: 1;}

section.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1232px;
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-bottom: none;
}

.onesquare:nth-child(4n) {
    margin: 0;
}

.onesquare {
    width: 19.5%;
    margin: 0 6.79% 6.79% 0;
    padding-bottom: 19.5%;
    background-color: red;
    float: left;
    display: block;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
  width: 100%;
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}

#left { 
display: block; 
width: 100%; 
float: left; 
overflow: hidden; 
}

#userStats .data {
  width: auto;
}

#userStats .data ul.points li strong { 
color: #434343; 
display: block; 
font-size: 5em; 
line-height: 1.1em; 
font-weight: bold; 
}

#userStats .imager { 
float: left; 
width: 35%;
height: auto;
margin-right: 20px;
}

#userStats .data h1 { 
float: left;
width: 100%;
color: #474747;
margin-bottom: 30px;
}

#left .gcontent .boxy .badgeCount a img { margin: 0 1.143% 8px 1.143%; width: 13.6%; }

section.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1232px;
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-bottom: none;
}

.onesquare:nth-child(4n) {
    margin: 0 2.88% 2.88% 0;
}

.onesquare:nth-child(8n) {
    margin: 0;
}

.onesquare {
    width: 10%;
    margin: 0 2.88% 2.88% 0;
    padding-bottom: 10%;
    background-color: red;
    float: left;
    display: block;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 100%;
	max-width: 1232px;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
  width: 100%;
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}

#left { 
width: 100%; 
float: left; 
display: block;
overflow: hidden; 
}

#userStats .data {
  width: auto;
}

#userStats .imager { 
float: left; 
height: auto;
width: 256px;
margin-right: 20px;
}

#userStats .data h1 { 
float: left;
width: 100%;
color: #474747;
margin-bottom: 30px;
}

#userStats .data ul.points li strong { 
color: #434343; 
display: block; 
font-size: 5em; 
line-height: 1.1em; 
font-weight: bold; 
}

#left .gcontent .boxy .badgeCount a img { margin: 0 8px 8px 0; width: auto; }

section.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1232px;
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-bottom: none;
}

.onesquare:nth-child(4n) {
    margin: 0 2.5% 2.5% 0;
}

.onesquare:nth-child(8n) {
    margin: 0 2.5% 2.5% 0;
}

.onesquare:nth-child(10n) {
    margin: 0 0 2.5% 0;
}

.onesquare {
    width: 7.75%;
    margin: 0 2.5% 2.5% 0;
    padding-bottom: 7.75%;
    background-color: red;
    float: left;
    display: block;
}

}